<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        body{
            font-family:'Times New Roman', Times, serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>URL Shortener</h1>
 <% if(locals.id){%> 
    <p>URL Generated:http://localhost:8001/<%= id %></p><%

 } %>

<form method="POST" action="/url"> 
    <label>Enter the original URL</label>
    <input type="text" name="url" placeholder="https://example.com" />

    <button type="submit">Generate</button>
</form>




</body>
</html>


